@font-face {
    font-family: JetBrainsMono;
    src: url(JetBrainsMono-Regular.ttf);
    font-variant: normal;
}

@font-face {
    font-family: JfOpenHuninn;
    src: url(jf-openhuninn-1.1.ttf),
    local("jf open 粉圓 1.1");
}

@font-face {
    /* https://www.wfublog.com/2015/06/icon-font-unicode-special-character.html#section2 */
    font-family: SegoeUISymbol;
    src: url(SegoeUISymbolRegular.ttf),
    local("Segoe UI Symbol");
}